In [1]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector

In [2]:
#Load data
oracle_df = pd.read_csv('large_oracle_data.csv')
sql_df = pd.read_csv('large_sql_data.csv')
sales_df = pd.read_excel('large_sales_data.xlsx')

In [3]:
# Dataframes list
data = [oracle_df, sql_df, sales_df]

In [4]:
# Drop 'order_id' column if it exists
for df in data:
    if 'order_id' in df.columns:
        df.drop('order_id', axis=1, inplace=True)

In [5]:
# Aggregation
aggregate_data = []
for df in data:
    if 'order_date' in df.columns and 'product_category' in df.columns:
        grouped_df = df.drop('order_date', axis=1).groupby('product_category').sum()
        aggregate_data.append(grouped_df)

In [6]:
# Print aggregated data
for df in aggregate_data:
    print(df.head(), '\n\n')

                   sales
product_category
Appliances        108585
Clothing          111543
Electronics       102196
Furniture         119501
Toys              119428


                   sales
product_category
Appliances        119043
Clothing          107451
Electronics       110935
Furniture         109847
Toys              114767


                   sales
product_category
Appliances        107710
Clothing           96096
Electronics       100432
Furniture         117269
Toys              108232

In [8]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Darshan@123"
    )
    if conn.is_connected():
        print("Connected to MySQL!")
except Exception as e:
    print("Connection failed:", e)

Connected to MySQL!